<%= form_with model: address, class:"needs-validation" do |form| %>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>

           
            <div class="row">
              <div class="col-md-5 mb-3">
                <%= form.label :city, "City"%>
                
                <%= form.collection_select :city, cities.order(:city_name), :city_name ,:city_name, class: "custom-select d-block w-100" %>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="state">Estate</label>
                <select class="custom-select d-block w-100" id="estate" name= "estate" required>
                  
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
            </div>
            <div class="mb-3">
            <%= form.label :street, "Street"%>
            <%= form.text_field :street, class: "form-control", placeholder: "Main St"%>
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>

          <div class="mb-3">
            <%= form.label :apartment, "Apartment"%>
            <%= form.text_field :apartment, class: "form-control", placeholder: "Apartment or suite" %>
        
          </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="save-info">
              <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div>
            <hr class="mb-4">
            <%= render partial: 'shared/delivery', locals: {f: form, cities: @cities} %>
            
            <hr class="mb-4">
            <%= form.submit "Proceed to next step", class: "btn btn-primary btn-lg"%>

           
           
    
<% end %>