<div>
    <h2>Delivery method</h2>
    
    <p>How do you want your order delivered ?</p>
    <div class="delivery-options ">
        <div class="station">
            <%= form.radio_button :delivery_option, "Pickup Station"%>
            <%= form.label :delivery_option_station, "Pickup Station"%>
            <button class="btn btn-success " id="trigger-modal">Select pick up station</button>
            <div class="modal" id="myModal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                <div class="row">
              <div class="col-md-5 mb-3">
                <%= form.label :city, "City"%>
                
                <%= form.collection_select :city_id, cities.order(:city_name), :city_name, :city_name, class: "custom-select d-block w-100", id: "delivery-city" %>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="state">Estate</label>
                <select class="custom-select d-block w-100" id="delivery-estate" name= "delivery-estate" required>
                  
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
              <div id="pick-up-station">
                
              </div>
                          </div>
                </div>
            </div>
        </div>
        <div class="home-address">
            <%= form.radio_button :delivery_option, "Home"%>
            <%= form.label :delivery_option_home, "Deliver to your home or office"%>
        </div>
    </div>
</div>